<form novalidate>
    <br><br>
    <h2 class="fa fa-facebook" id="facebook"> Login with Facebook</h2>
    <h2 href="#" class="fa fa-spotify" id="spotify"> Login wuth spotify</h2>
    <input id="email" placeholder="Email address" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
    <input placeholder="Password" type="password" value="" required>
    <button>Login</button>
    <div id="resetAndRegister">
        <p>
            <a routerLink="resetpassword">Forgot your password?</a>
        </p>
        <p>
            Don't have an account? 
            <a routerLink="register">Create new account</a>
        </p>
    </div>
</form>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
