
.mat-toolbar{
  z-index: 100;
}

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
  flex: 1 1 auto;
}

#logo {
  background-image: url('logo.png');
  background-size:contain;
  background-repeat: no-repeat;
  border-radius: 0%;
  font-weight: inherit;
}

.mat-card-avatar {
  height: 3.2em;
  width: 15em;
}

.mat-button{
  color: #424242;
  // color: #BDBDBD;
  // font-weight: bold;
}

.mat-toolbar{
  background-color: #FFF;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
  position: fixed;
  top: 0px;
  left: 0;
}

.mat-icon-button{
  color: #212121;
  // box-shadow: 0 5px 6px 0 rgba(0,0,0,0.4);
  width: 6em;
  display: none;
}

@media only screen and (max-width: 1100px) {
    .mat-icon-button{
      display: inline-block;
    }
    .mat-toolbar .mat-button{
      display: none;
    }
    #drop_down{
      display: none;
    }
}

.mat-form-field{
  z-index: 9999999;
  font-size: 12px;
  width: 8em;
}

#smallMenuDropDown{
  display: flex;
  margin-left: 2em;
}

button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

#smallMenuDropDown, #drop_down{
  font-weight: 900;
}

// -*************************************-
#facebook, #twetter, #instagram, #google{
  width: 1em;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 0.5em;

  border: 1.5px solid black;
  cursor: pointer;
  color: black;
  &:hover { 
    background: black;
    color: white;
  }
}

#facebook{
  padding-left: 12px;
  padding-right: 5px;
}

#google{
  padding-left: 5px;
  padding-right: 9px;
  margin-right: 0.5em;
}

#instagram{
  padding-left: 8px;
  padding-right: 6px;
}


  
  