<div id="prof-services">
    <article id="img-services">
      <h1 id="allstars">Mastering</h1>
      <p>Mastering, a form of audio post production, is the process of preparing and transferring recorded audio from a source containing the final mix to a data storage device (the master).</p>
      <p>The source from which all copies will be produced (via methods such as pressing, duplication or replication).</p>
      <p>In recent years digital masters have become usual, although analog masters, such as audio tapes, are still being used by the manufacturing industry, notably by a few engineers who have chosen to specialize in analog mastering.</p>
    </article>
    <article id="text">
      <h1>Mixing</h1>
      <p>Audio mixing is the process by which multiple sounds are combined into one or more channels.</p>
       <p> In the process, a source's volume level, frequency content, dynamics, and panoramic position are manipulated and or enhanced. </p>
       <p> Also, effects such as reverberation and echo may be added.</p>
        <p>This practical, aesthetic, or otherwise creative treatment is done in order to produce a finished version that is appealing to listeners. </p>
        <p>Audio mixing is practiced for music, film, television and live sound.</p>
      
      <p>The process is generally carried out by a mixing engineer operating a mixing console or digital audio workstation.</p>
    </article>
</div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">