<div id="container">
    <br> 
    <h3> Privacy Policy of evincemusic.com</h3>
    <p>This Application collects some Personal Data from its Users.</p>

    <h3>Owner and Data Controller</h3>
    <p>Evince Music Denmark</p>

    <p>Owner contact email: privacy@spinninrecords.nl</p>

    <h3>Types of Data collected</h3>
    <p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Cookies, Usage data, email address, date of birth, first name, last name, country, username, gender, picture, password and various types of Data.</p>

    <p>Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection.</p>
    <p>The Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using this Application.</p>
    <p>All Data requested by this Application is mandatory and failure to provide this Data may make it impossible for this Application to provide its services. In cases where this Application specifically states that some Data is not mandatory, Users are free not to communicate this Data without any consequences on the availability or the functioning of the service.</p>
    <p>Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.</p>
    <p>Any use of Cookies – or of other tracking tools – by this Application or by the owners of third-party services used by this Application serves the purpose of providing the service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.</p>

    <p>Users are responsible for any third-party Personal Data obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>

    <p>Mode and place of processing the Data</p>
    <p>Methods of processing</p>
    <p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.</p>
    <p>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p>

    <h3>Place</h3>
    <p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>

    <h3>Retention time</h3>
    <p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>

    <h3>The use of the collected Data</h3>
    <p>The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Access to third party services' accounts, Analytics, Contacting the User, Content commenting, Displaying content from external platforms, Interaction with external social networks and platforms, Managing contacts and sending messages, Registration and authentication, Social features, Heat mapping and session recording, Remarketing and behavioral targeting, Interaction with online survey platforms and Interaction with data collection platforms and other third parties.</p>

    <p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>

    <p>Facebook permissions asked by this Application</p>
    <p>This Application may ask for some Facebook permissions allowing it to perform actions with the User's Facebook account and to retrieve information, including Personal Data, from it. This service allows this Application to connect with the User's account on the Facebook social network, provided by Facebook Inc.</p>

    <p>For more information about the following permissions, refer to the Facebook permissions documentation and to the Facebook privacy policy.</p>

    <p>The permissions asked are the following:</p>

    <h3>Basic information</h3>
    <p>By default, this includes certain User’s Data such as id, name, picture, gender, and their locale. Certain connections of the User, such as the Friends, are also available. If the User has made more of their Data public, more information will be available.</p>

    <h3>Email</h3>
    <p>Provides access to the User's primary email address.</p>

    <h3>Registration and authentication</h3>

    <p>By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.</p>
    <p>Depending on what is described below, third parties may provide registration and authentication services. In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.</p>

    <h3>Facebook Authentication (Facebook, Inc.)</h3>
    <p>Facebook Authentication is a registration and authentication service provided by Facebook, Inc. and is connected to the Facebook social network.</p>

    <p>Personal Data collected: various types of Data as specified in the privacy policy of the service.</p>

    <h3>Auth0 (Auth0, Inc)</h3>
    <p>Auth0 is a registration and authentication service provided by Auth0, Inc. To simplify the registration and authentication process, Auth0 can make use of third party identity providers and save the information on its platform.</p>

    <p>Personal Data collected: Cookies, email address, first name, last name, password, picture and various types of Data as specified in the privacy policy of the service.</p>

    <p>Place of processing: USA – Privacy Policy</p>

    <h3>Direct registration (This Application)</h3>
    <p>The User registers by filling out the registration form and providing the Personal Data directly to this Application.</p>

    <p>Personal Data collected: email address, first name and last name.</p>

    <h3>Google Authentication (Google, Inc.)</h3>
    <p>Google Authentication is a registration and authentication service provided by Google.</p>

    <p>Personal Data collected: various types of Data as specified in the privacy policy of the service.</p>

    <p>Place of processing: US – Privacy Policy</p>
    <br><br>
    <button routerLink="register">Back</button>
</div>
