<div id="gl-partnership">
  <div id="img-partnership">
    <div class="img-container">
      <div id="image2"></div>
    </div>
    <h3 id="allstars">EVINCE MUSIC X MUSICALLSTARS<br>GLOBAL PARTNERSHIPS</h3>
  </div>
  <div id="text">
    <h1>GLOBAL PARTNERSHIPS</h1>
    <p>Dance music, DJs and brands brought together in one unique formula.
      Global Partnerships represents Spinnin' Records and MusicAllstars Management
      to provide brands and artists with a 360 campaign where music, 100% publicity rights,
      live events, talent integration and support from internationally DJ's are integrated. 
      Check out our Spinnin’ Hotel Miami brand movie. 
    </p>
    <p>For all your partnership enquiries please contact us.</p>
    <p><span id="small">We solely reply to inquiries related to Global Partnerships. Demo tracks are handled only through the Spinnin’ Talent Pool and will be automatically blocked and/or deleted upon delivery without exception.</span></p>
  </div>
</div>
  
<div id="cards">
  <div id="loaded-cards" *ngFor="let project of projects">
    <div class="card">
      <div class="img-container">
        <div class="image">
          <img src="google.png" alt="{{project.pick}}">
        </div>
      </div>
      <p id="date">{{project.date}}</p>
      <p id="title">{{project.title}}<br>..................................</p>
      <button>Read more</button>
    </div>
  </div>
  <!-- <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div>
  <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div>
  <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div>
  <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div>
  <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div>
  <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div>
  <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div>
  <div class="card">
    <div class="img-container">
      <div class="image"></div>
    </div>
    <p id="date">Apr 11 2017</p>
    <p id="title">The best event ever<br>..................................</p>
    <button>Read more</button>
  </div> -->
  <div class="empty card"></div>   
  <div class="empty card"></div>    
  <div class="empty card"></div>    
</div>

<div class="main-container">
  <div class="transperant">
    <h1>SHOW YOUR TALENT</h1>
    <button routerLink="/talent">Start</button>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
