<form [formGroup]="loginForm" novalidate
(submit)="onSubmitLogin(loginForm)">

    <br><br>
    <h2 class="fa fa-facebook" id="facebook" (click)="socialSignIn('facebook')"> Sign in with Facebook</h2>
    <h2 href="#" class="fa" id="google" (click)="socialSignIn('google')"><div id="image"></div> Sign in with Google</h2>
    <p id="or">- or -</p>

    <input formControlName="email" id="email" placeholder="E-mail" type="email" value="" required>
    <span class="error" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched">
        Please enter a valid e-mail !!!
    </span>
    <span class="error" id="emptyLine" *ngIf="(loginForm.controls.email.valid && loginForm.controls.email.touched) || !loginForm.controls.email.touched">ooooooooooooooooooooooo</span>

    <input formControlName="password" placeholder="Password" type="password" value="" required>
    <span class="error" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
        Please fill out the password!
    </span>
    <span class="error" id="emptyLine" *ngIf="(!loginForm.controls.password.errors?.required && loginForm.controls.password.touched) || !loginForm.controls.password.touched">ooooooooooooooooooooooo</span>

    <button type="submit">Login</button>

    <div id="resetAndRegister">
        <p>
            <a routerLink="resetpassword">Forgot your password?</a>
        </p>
        <p>
            Don't have an account? 
            <a routerLink="register">Create new account</a>
        </p>
    </div>
</form>
