<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      
      <span class="example-spacer"></span>
  
      <button mat-button>Home</button>
      <button mat-button>Professional Services</button>
      <button mat-button>Promotions</button>
      <button mat-button>Talent Pool</button>
      <button mat-button>Global Partnership</button>
      <button mat-button>Contacts</button>
      <button mat-button>Login</button>
    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>
