$base: rgb(35, 4, 119);
$text: #555;
$invalid: #E91E63;
$width: 400px;
$cubic: cubic-bezier(.64,.09,.08,1);

html, body {
  overflow-x: hidden;
}

html, body, form, span{
    box-sizing: border-box;
    background-color: white;
}

form {
    background-color: #FAFAFA;  
}

h2 {
    background-color: #212121;  
    width: 80%;
    // height: 1.5em;
    // padding: 15px;
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 #c2c2c2;
    border-radius: 3px 3px 0 0;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    &:hover { 
        transform: translateY(-2px);
        box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
      }
  }

form {
  font-family: 'roboto', sans-serif;
  width: $width + 60px;
  margin: 200px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding: 0 0 22px;
  border-radius: 3px;
  color: $text;
}


p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 2px;
}


@media only screen and (max-width: 650px) {
  form, textarea, button{
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }
}