<form novalidate>
    <br>
    <h2 class="fa fa-facebook" id="facebook"> Continue with Facebook</h2>
    <h2 href="#" class="fa fa-spotify" id="spotify"> Continue wuth spotify</h2>
    <p>- or -<br>Sign up with your email address</p>
    <input placeholder="First name" type="text" value="" required>
    <input placeholder="Last name" type="text" value="" required>
    <input placeholder="Username" type="text" value="" required>
    <input id="email" placeholder="Email address" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
    <input placeholder="Password" type="password" value="" required>
    <input placeholder="Re-enter password" type="password" value="" required>
    <p>By creating an account you agree to the Terms and Conditions<br>and privacy policy.</p>
    <button>Submit</button>
</form>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
