<div class="main-container">
  <div class="main-text-container">
    <div class="text-container">
      <h2>The Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto itaque nemo quam recusandae, earum aut ipsa similique minima exercitationem consectetur ad odio, sit eaque fugit harum aliquid praesentium dolore reprehenderit!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto itaque nemo quam recusandae, earum aut ipsa similique minima exercitationem consectetur ad odio, sit eaque fugit harum aliquid praesentium dolore reprehenderit!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto itaque nemo quam recusandae, earum aut ipsa similique minima exercitationem consectetur ad odio, sit eaque fugit harum aliquid praesentium dolore reprehenderit!</p>
    </div>
  </div>
  <div class="transperant" [@popOverState]="stateName">
    <div id="social-btn">
      <a href="https://www.facebook.com/OfficialEvince/" id="facebook"><i class="fa fa-facebook"></i></a>
      <a id="twetter" href="https://twitter.com/evinceofficial"><i class="fa fa-twitter"></i></a>
      <a id="instagram" href="https://www.instagram.com/evincemusic/"><i class="fa fa-instagram"></i></a>
      <a id="google" href="https://plus.google.com/117656623508682121112"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
</div>