<div class="main-container">
  <div class="transperant" [@popOverState]="stateName">
    <div id="social-btn">
      <a id="facebook" href="https://www.facebook.com/OfficialEvince/"><i class="fa fa-facebook"></i></a>
      <a id="twetter" href="https://twitter.com/evinceofficial"><i class="fa fa-twitter"></i></a>
      <a id="instagram" href="https://www.instagram.com/evincemusic/"><i class="fa fa-instagram"></i></a>
      <a id="google" href="https://plus.google.com/117656623508682121112"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
</div>