/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    height: 100%; 

    // background-image: url('Large-Console.jpg');
    // background-size: cover;
    // background: no-repeat center center cover;
    background-color: #EEEEEE;
    margin-top: 90px;
    background-attachment: fixed;
  }

  ::-webkit-scrollbar { 
    display: none; 
  }

  @media only screen and (max-width: 1400px) {
   
    .example-card {
        margin-left: 15em;
        margin-right: 15em;
      }
}


