@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    height: 100%; 
    margin: 0;
    padding: 0;
    background-image: url('Capture.PNG');
    background-size: cover;
    background: no-repeat center center cover;
    background-color: #EEEEEE;
    background-attachment: fixed;
  }

  #white{
    margin-top: 90px;
  }

  ::-webkit-scrollbar { 
    display: none; 
  }

  @media only screen and (max-width: 1400px) {
   
    .example-card {
        margin-left: 15em;
        margin-right: 15em;
      }
}


