

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  #logo {
    background-image: url('logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 0%;
    font-weight: inherit;
  }

  .mat-card-avatar {
    height: 3.2em;
    width: 15em;
}

  .mat-button{
    color: black;
  }

  .mat-toolbar{
    // background-color: #fff;
    background-color: #e3e3e3;
    // opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0;
  }

  .mat-icon-button{
    color: white;
    display: none;
  }

  @media only screen and (max-width: 1100px) {
    .mat-icon-button{
      color: white;
      display: inline;
    }

    .mat-toolbar{
      display: none;
    }
}

  
  