<form [formGroup]="resetPassForm" novalidate
(submit)="onSubmit(resetPassForm)">
    <h2>Get a new password !</h2>
    <input formControlName="email" id="resetEmail" placeholder="E-mail" type="email" autocomplete="off" value="" required>
    <span class="error" *ngIf="!resetPassForm.controls.email.valid && resetPassForm.controls.email.touched">
            Please fill out the e-mail !
    </span>
    <span class="error" id="emptyLine" *ngIf="(resetPassForm.controls.email.valid && resetPassForm.controls.email.touched) || !resetPassForm.controls.email.touched">ooooooooooooooooooooooo</span>
    <button type="submit">Send</button>
</form>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">