<div id="prof-services">
    <div id="img-services">
      <div class="img-container">
        <div id="image2"></div>
      </div>
      <h1 id="allstars">Mixing</h1>
    </div>
    <div id="text">
      <h1>Mastering</h1>
      <p>Audio mixing is the process by which multiple sounds are combined into one or more channels.
        In the process, a source's volume level, frequency content, dynamics, and panoramic position are manipulated and or enhanced. 
        Also, effects such as reverberation and echo may be added.
        This practical, aesthetic, or otherwise creative treatment is done in order to produce a finished version that is appealing to listeners. 
        Audio mixing is practiced for music, film, television and live sound.
      </p>
      <p>The process is generally carried out by a mixing engineer operating a mixing console or digital audio workstation.</p>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">