.mixing-card {
    max-width: 30em;
    margin-top: 10em;
    margin-left: 15em;
    margin-right: 20em;
    opacity: 0.8;
    height: 30em;
    width: 30em
    
}

.mastering-card{
    max-width: 30em;
    margin-top: -33em;
    margin-left: 70em;
    margin-right: 280em;
    opacity: 0.8;
    height: 30em;
    width: 30em;
}

.mastering-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
}

@media only screen and (max-width: 1200px) {
    .mastering-card {
        margin-left: 45em;
        margin-right: 15em;
    }
}

@media only screen and (max-width: 1250px) {
    .mastering-card {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media only screen and (max-width: 900px) {
    .mastering-card {
        margin-left: 5em;
        margin-right: 5em;
    }
}
.mastering-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
}

@media only screen and (max-width: 1200px) {
    .mastering-card {
        margin-left: 45em;
        margin-right: 15em;
    }
}

@media only screen and (max-width: 1250px) {
    .mastering-card {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media only screen and (max-width: 900px) {
    .mastering-card {
        margin-left: 5em;
        margin-right: 5em;
    }
}